!!! 5
html(lang="en")
  head
    title= targetPath
  meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
  meta(name="lidoc-relative-root", content=relativeRoot)
  link(rel="stylesheet", type="text/css", media="all", href=relativeRoot + "assets/style.css")
  script(type="text/javascript", src=relativeRoot + "assets/behavior.js")

  body
    - for (var i in segments)
      .segment
        - if (segments[i].markdownedComments != '')
          .comments
            .wrapper!= segments[i].markdownedComments

        - if (segments[i].highlightedCode != '')
          .code
            .wrapper!= segments[i].highlightedCode
