!!! 5
html(lang="en", class="no-js")
  head
    title= pageTitle
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
  meta(name="groc-relative-root", content=relativeRoot)
  meta(name="groc-document-path", content=targetPath)
  meta(name="groc-project-path", content=projectPath)
  - if (project.githubURL)
    meta(name="groc-github-url", content=project.githubURL)
  link(rel="stylesheet", type="text/css", media="all", href=relativeRoot + "assets/style.css")
  script(type="text/javascript", src=relativeRoot + "assets/behavior.js")

  body
    #meta
      - if (project.githubURL)
        .file-path
          a(href=project.githubURL + '/blob/master/' + projectPath)= projectPath
      - else
        .file-path= projectPath
    #document
      - for (var i in segments)
        .segment
          - if (segments[i].markdownedComments != '')
            div(class="comments " + (segments[i].accessClasses || ''))
              .wrapper!= segments[i].markdownedComments

          - if (segments[i].highlightedCode != '')
            - if (segments[i].foldMarker != '')
              .code.folded
                .wrapper.marker
                  span.c1!= segments[i].foldMarker
                .wrapper!= segments[i].highlightedCode
            - else
              .code
                .wrapper!= segments[i].highlightedCode

    - var tabindexOffset = 100

    mixin tocLink(caption, expanded, tabindex)
      a.label(href=attributes.href || '#', title=attributes.title, tabindex=tabindexOffset + tabindex)
        span(class='discloser' + (expanded ? '' : ' placeholder'))
        span.text= caption

    mixin tocItem(index, node, prefix, current, expanded)
      - if(node.type == 'file')
        +tocLink(node.data.title, expanded, index)(class="label", title=node.data.projectPath, href=prefix + node.data.targetPath + '.html')
      - if(node.type == 'folder')
        +tocLink(node.data.title, expanded, index)(class="label", title=node.data.projectPath)
      - if(expanded)
        ol.children
          +tocList(node.children, prefix, current)

    mixin tocList(nodes, prefix, current)
      - each node, index in nodes
        - var expanded = node.children && node.children.length > 0
        - var selected = node.data.projectPath == current
        li(class=node.type + (expanded ? ' expanded' : '') + (selected ? ' current' : ''), data-groc=JSON.stringify({'data':{'targetPath':node.data.targetPath}}))
          +tocItem(index, node, prefix, current, expanded)

    nav
      ol.toc
        +tocList(tableOfContents, relativeRoot, projectPath)
