mixin tocLink(caption, expanded)
  a.label(href=attributes.href || '#', title=attributes.title)
    span(class='discloser' + (expanded ? '' : ' placeholder'))
    span.text= caption

mixin tocItem(node, prefix, root, expanded)
  li(class=node.type + (expanded ? ' expanded' : '') + (node.data.projectPath == root ? ' selected current' : ''), data-groc-target-path=node.data.targetPath)
    - if(node.type == 'file')
      +tocLink(node.data.title, expanded)(class="label", title=node.data.projectPath, href=prefix + node.data.targetPath + '.html')
    - if(node.type == 'folder')
      +tocLink(node.data.title, expanded)(class="label", title=node.data.projectPath)
    - if(expanded)
      ol.children
        +tocList(node.children, prefix, root)

mixin tocList(nodes, prefix, root)
  - each node in nodes
      +tocItem(node, prefix, root, node.children && node.children.length > 0)

+tocList(tableOfContents, relativeRoot, projectPath)
